Офицерская судьба его уникальна. Даже когда флот наш был не показушным, как ныне, а державным, далеко не каждому доводилось 28 (!) лет отстоять на мостиках боевых кораблей, а уж тем паче нынешним, так называемым морякам, вовсе не видевшим океанской волны. Иной пожаловался бы, мол, из морей годами не вылезал, берега не видел, но не контр-адмирал Скворцов. «В службе мне повезло, - признавался Евгений Александрович. - Довелось командовать эсминцами, плавбазой ракетного оружия, крейсером, быть командиром самого мощного для своего времени тактического соединения, впервые в истории ВМФ СССР руководить освоением палубной авиации на авианосцах…»
Скворцов начинал в 50-х на североморском крейсере «Чапаев», позже командовал батареей универсального калибра крейсера «Мурманск», затем был и старпомом, и командиром этого корабля, и еще выше - командовал соединением Северного флота, куда входил «Мурманск».
Сегодня мы слышим – у России будут авианосцы, у страны будет палубная авиация, русские крылья будут над морем… Пока это все больше языком да на словах. А для Скворцова реальные авианосцы стали частью судьбы. Это он командовал отрядом кораблей на переходе «Киева» - первого советского авианосца, когда летом 1976-го он назло недругам прорывался из Черного моря и форсировал турецкие проливы. И первое авианосное соединение Союза на боевое дежурство из Кольского залива в океан впервые вывел именно он – контр-адмирал Скворцов.
Позже были командные должности на соединении североморских кораблей, служба в главном штабе ВМФ, дипломатическая работа старшим военно-морским экспертом на советско-американских встречах по исключению инцидентов на море.
Какое отношение имел Евгений Александрович к Северодвинску? Прямого не имел, однако город наш должен благодарить его за то, что не было таких высших почетных наград и призов в списках Министерства обороны СССР, которыми не владел бы «Мурманск» - крейсер, созданный трудом северодвинских корабелов и отданный под начало Скворцова.
Собственно, строки эти пишутся мною не только по долгу доброго знакомого Евгения Александровича, но и по просьбе северодвинских ветеранов крейсера «Мурманск» и авианосца «Киев». Их, правда, не так уж и много в нашем городе, но командира Скворцова они помнят.
Два года назад, узнав о моей работе над книгой о крейсерах «Молотовск» и «Мурманск», Евгений Александрович вместо напутствия прислал мне свою книгу, которую надписал: «Летописцу лучшего крейсера ВМФ СССР…» Крейсер «Мурманск» действительно был лучшим в нашем флоте. Благодаря таким командирам, как Скворцов. Летописцем же вполне можно назвать и самого Евгения Александровича. Разве что страницы той славной истории советского флота создавались им не за письменным столом, а на палубах кораблей в океане.
О таких офицерах, как контр-адмирал Евгений Скворцов, легенды слагались еще при жизни. Заслуженно, по праву. Не только в легендах, но и в нашей памяти Евгений Александрович останется.