.wrap_img {
  width: 98%;
  height: 98%;
  img {
    padding: 1%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover; 
    object-fit: cover;
    animation: fadeIn 1s;
  }
  .placeholder {
    border: 2px solid white;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(45deg, rgb(237, 242, 241), rgb(220, 227, 227) 40%);
    background: -moz-linear-gradient(45deg, rgb(237, 242, 241), rgb(220, 227, 227) 40%);
    background: linear-gradient(45deg, rgb(237, 242, 241), rgb(220, 227, 227) 40%);
  }
}
@keyframes fadeIn {
   0% {opacity:0}
   100% {opacity:1}
  }